.head-page{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--bg-color);
    gap: 25%;
    
}

.img-agenda img{
    width: 30%;
    padding: 0 0 0 80%;
}

.a-agenda{
    display: flex;
    gap: 40%;
}

.a-agenda a{
    text-decoration: none;
    color: var(--letras);
}

.a-agenda a:hover{
    text-decoration: underline;
}

.user-agenda{
    border: 1px solid var(--letras);
    padding: 15px 100px 15px 15px;
    border-radius: 8px;
    background-color: var(--letras);
}

.user-agenda p, span{
    color: var(--bg-color);
}

main{
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.calendar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100vh;
    max-width: 700px;
    padding-top: 100px;
}

.grid{
    display: flex;
    flex-direction: column;
    
}

.all-hours{
    display: flex;
    flex-direction: column;
}

.tb-hours{
    display: flex;
}

.hour, .day{
    border: 1px solid black;
    padding: 30px 10px 30px 10px;
    border-radius: 5px;
}

.hour:hover{
    background-color: var(--letras);
    cursor: pointer;
}

.button{
    padding-top: 20px;
    position: relative;
}

.button button{
    position: absolute;
    left: 210px;
    border: 1px solid var(--letras);
    padding: 10px;
    border-radius: 5px;
    background-color: var(--letras);
    cursor: pointer;
    color: var(--bg-color);
}

.card-mark{
    background-color: var(--letras);
}